.feedback_btn {
    padding: 10px;
    margin-left: 5px;
    background-color: rgb(97, 107, 243);
    color: #ffff;
    border-radius: 10px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

